h1.display-3{
  padding: 0;
  margin: 0;
  top: 0;
}

/* Nav */
ul.nav {
  background-color: #56494E;
  float: right;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

img#logo{
  padding-bottom: 5px;
  padding-left: 20px;
  float: left;
}

a#brand.navbar-brand{
  padding-top: 13px !important;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 20px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 2.5;
  text-decoration: none;
}

div.navtabs{
  float: right;
  line-height: 2.5;
}

li.nav-item{
  text-align: right;
  padding-top: 16px;
  line-height: 1;
  font-family: Arial, sans-serif;
  display: inline-block;
  color: white;
  padding-right: 20px;
  display: flexbox;
}

/* Jumbotron */
div#homeJumbotron.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/s6WiwJs.jpg);
  background-size: cover;
  height: 95vh !important;
}
