.container

h1.display-3{
  padding: 0;
  margin: 0;
  top: 0;
}

/* Nav */
.navbar.bg-dark {
  background-color: #56494E !important;
  margin: 0;
  padding: 0;
}

/* Jumbotron */
div#homeJumbotron.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/s6WiwJs.jpg);
  background-size: cover;
  height: 95vh !important;
  width: 100% !important;
  border-radius: 0;
}

#clearButton {
  text-align: center;
}