
body {
  /* background-color: rgb(255, 252, 242); */
  background-color: rgba(179, 139, 109, 0.24);
}


/* Auth Login/SignUp */
#authDiv {
  background-repeat: no-repeat;
  background-size: 600px;
  height: 10vh;
  width: 50vw;
  margin: auto;
  /* overflow: hidden; */
  margin-top: 6%;
}

#authAlphaDiv {
  margin: auto;
  margin-top: 6px;
  margin-bottom: 65px;
  border-radius: 50px;
  width: 80%;
  padding: 10px;
  height: auto;
  opacity: 100%;
  /* background-color: #56494E; */
  background-color: rgba(179, 139, 109, 0.24);
  /* color: white; */
  /* background-color: transparent; */
  /* border: double 8px rgba(218, 214, 195, 0.521); */
  border: double 8px grey;

}

#togglebutt.btn.btn-secondary{ 
  display: block;
  position: relative;
  margin: auto;
  width: fit-content;
}

#signup {
  text-align: center;
}
#login {
  text-align: center;
}

.form-check-input {
  margin: auto;
}

h1.display-3{
  padding: 0;
  margin: 0;
  top: 0;
}


/* Nav */
.navbar {
  background-color: #56494E !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul{
  display: inline-flex;
  float: left;
  padding-top: 10px;
}

ul#homeNav {
  padding: 10px 0 0 0px;
  margin-bottom: 0 !important;
}

#hometab{
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 30px;
  color: white;
  line-height: 3;
}

a.nav-link{
  padding: 0 0 12px 0!important;
  margin-left: 15px;
}

#tabs {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 30px;
  color: white;
  line-height: 3;
}

#logoutbutt {
  margin-right: 40px;
  margin-left: 8px;
  background-color: transparent;
  border-width: 0;
}


/* Home Jumbotron */
div#homeJumbotron.jumbotron {
  text-align: center;
  background-image: url('./assets/dreamcatcherJumbotron.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh !important;
  width: 100% !important;
  border-radius: 0;
}

#clearButton {
  text-align: center;
}

/* Cards on Home */

.homeRule {
  margin-top: 10px;
}

.cards {
  margin: 40px 50px 30px 50px;
}

/* User Profile */

#profileHead {
  text-align: center;
  margin-bottom: 30px;
}

#profileForm {
  margin: 0 100px 0px 100px;
}

#profile.profilePic {
  display: block;
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
}

#saveDelete.form-group {
  text-align: center;
  margin-top: 20px;
}

#profileRow.row {
  width: 100%;
}

#profNSFW.form-check-input {
  margin-top: 6px;
  margin-left: 50px;
}

/* My Posts */

#nd {
  font-variant: small-caps;
  font-size: 35px;
}

#commentPic {
  width: 50px;
  float: left;
  display: block;
}

#commentName {
  float: left;
  display: block;
  line-height: 3;
  font-size: large;
}

.post {
  margin: 20px 50px 0 50px;
}

.newDream {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

#postButt {
  background-color: #56494E !important;
  border-width: 0;
  font-variant: small-caps;
  padding-bottom: 8px;
  color: white;
}

/* Dreams in Cards */

#md.card-title {
  font-weight: 700;
  margin: 0 !important;
}

#cardUser {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px !important;
}

#dreamCat {
  font-variant: small-caps;
  margin-bottom: auto;
}

#cardContent {
  font-size: 14px;
}

#deleteButt {
  background-color: #56494E !important;
  border-width: 0;
  margin-right: 10px;
  font-variant: small-caps;
  padding-bottom: 8px;
}

#updateButt {
  background-color: #56494E !important;
  border-width: 0;
  font-variant: small-caps;
  padding-bottom: 8px;
  color: white;
}

#editButt {
  background-color: #56494E !important;
  border-width: 0;
  font-variant: small-caps;
  padding-bottom: 8px;
  color: white;
}

#reply {
  font-variant: small-caps;
}

#replyButt {
  background-color: #56494E !important;
  border-width: 0;
  margin-left: 10px;
  margin-bottom: 9px;
  font-variant: small-caps;
  padding-bottom: 8px;
  color: white;
}

/* My comments */

#commentCard {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

#commentUser {
  font-size: small;
  margin-bottom: 5px;
  font-weight: 600;
}

#commentCont {
  font-size: smaller;
  font-style: italic;
}

#whereComment {
  font-style: italic;
  font-size: small;
  margin-bottom: 5px;
}

#whatComment {  
  font-size: smaller;
}

#dreamType {
  margin-bottom: 20px;
}

/* Footer */

.leftFoot {
  background-color: #56494E;
  color: white;
  text-align: center;
  height: 52px;
  min-height: 100%;
}

.trademark {
  display: inline-flex;
  text-align: center;
}

.trademark p {
  margin-top: 8px;
  font-variant: small-caps;
  font-size: 20px;
}

.trademark img {
  margin-top: 10px;
}